* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  display: flex;
  flex: 1;
}

#main > form {
  flex: 0 0 60vw;
  background-color: blue;
}

#main > aside {
  flex: 0 0 40vw;
  background-color: red;
}

header,
footer {
  background: yellowgreen;
  height: 20vh;
}

.hero {
  background-image: url("/assets/images/visitor-entry.png");
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 2px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col{
  display: flex;
  flex-direction: column;
  padding: 1px;
}